@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/Acrom-Bold.eot');
  src: url('/fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Acrom-Bold.woff2') format('woff2'),
    url('/fonts/Acrom-Bold.woff') format('woff'),
    url('/fonts/Acrom-Bold.ttf') format('truetype'),
    url('/fonts/Acrom-Bold.svg#Acrom-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/Acrom-Regular.eot');
  src: url('/fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Acrom-Regular.woff2') format('woff2'),
    url('/fonts/Acrom-Regular.woff') format('woff'),
    url('/fonts/Acrom-Regular.ttf') format('truetype'),
    url('/fonts/Acrom-Regular.svg#Acrom-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Acrom';
  src: url('/fonts/Acrom-Medium.eot');
  src: url('/fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Acrom-Medium.woff2') format('woff2'),
    url('/fonts/Acrom-Medium.woff') format('woff'),
    url('/fonts/Acrom-Medium.ttf') format('truetype'),
    url('/fonts/Acrom-Medium.svg#Acrom-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  mix-blend-mode: normal;
  box-sizing: border-box;
  background-color: black;
  scroll-behavior: smooth;

  @apply font-base;
}

input {
  outline: none;
}

input :focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  &--small {
    max-width: 1110px;
  }
  &--thin {
    max-width: 888px;
  }

  @media (min-width: 1024px) {
    padding: 0px 70px;
    max-width: 1440px;
  }
}

.slick-prev {
  display: none !important;
}

.slick-next-hero {
  .slick-next {
    position: absolute;
    bottom: -68px;
    right: 0;
    width: 21px;
    z-index: 20;
    opacity: 0;
  }
}

.slick-slide {
  position: relative;
}

.header-open {
  height: calc(100vh - 64px);
}

.fadeIn {
  animation: fadeIn 100ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn2 {
  animation: fadeIn2 700ms ease-in-out;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  position: relative;
  left: 100%;
  opacity: 0;
  animation: slide-in 700ms linear forwards;
}

@keyframes slide-in {
  from {
    left: 100%;
    opacity: 0;
  }

  to {
    left: 0%;
    opacity: 1;
  }
}

.animation-line {
  animation: stretch 5000ms linear;
}

@keyframes stretch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animation-footer {
  opacity: 0;
  animation: footer 5000ms ease-out;
}

@keyframes footer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-texts {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #000000;
    padding-bottom: 24px;

    @media (min-width: 992px) {
      font-size: 42px;
      line-height: 56px;
      letter-spacing: -0.03em;
    }
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #000000;
    padding-bottom: 24px;
    padding-top: 64px;

    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    padding: 8px 0;
  }

  p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    padding-bottom: 8px;

    @media (min-width: 992px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }

  ol {
    padding-top: 24px;
    padding-left: 16px;

    li {
      list-style-type: decimal;
    }
  }

  ul {
    padding-top: 24px;
    padding-left: 16px;

    li {
      list-style-type: disc;
    }
  }

  li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    padding-bottom: 8px;
  }

  table {
    margin: 24px 0;

    tbody {
      tr {
        th {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #ededef;
          background: #000000;
          padding: 8px 16px;
          border: 1px solid #000000;
        }

        td {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #000000;
          padding: 16px;
          border: 1px solid #000000;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  [data-aos] {
    transition: none !important;
    opacity: 1 !important;
  }
}
